.header-wrapper{
    background-color: #2f2d2e;
    color: #f0f0f0;
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        img{
            background-color: white;
            width: 150px;
        }
        .brand{
            font-size: 1.6rem;
            font-weight: bold ;
        }
    }
}