body {
   
    background-color: #eee; 
    
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 150px);
    // border: 1px solid green;
    

    .form-input{
        
        display: flex;
        flex-direction: column;
        align-items: center;
       
        .steps-is-active{
            font-weight: bolder;
            text-decoration: underline;
        }
    
        ul{
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            li:not(:last-child){
                margin-right: 10px;
            }
            margin: 30px 0;
        }

        .form-group{
                margin: 10px 0;
                display: flex;
                flex-direction: column;
                label{
                    padding-bottom: 5px;
                }
                
        }
        .error-msg{
            color: red;
            display: block;
        }
        .radio{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            span{
                margin-right: 10px;
            }
            input{
                margin-right: 5px;
            }
            label{
                margin-right: 10px;
            }
        }
    }
   

}

.step4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span{
        height: 150px;
        display: flex;
        align-items: center;
        color: green;
    }
}
.popup-btn{
    border: 1px solid !important;
}

.title{
    display: block;
    font-weight: bolder;
    border-bottom: 2px solid;
    margin: 20px 0 5px;
}